body{
	border:solid;
	border-radius:150px;
	background-image:url("chef.jpg");
	background-size:100%;
	opacity:0.9;
}
header{
	border: solid;
	border-color: black;
	border-radius:150px;
	background-color:rgb(146, 69, 6);
	color:white;
	text-align:center;
	margin-left:150px;
	margin-right:150px;
}
main {
	border:solid;
	border-radius:150px;
	background-image:url("flag.jpg");
	background-size:100%;
	width: 800px;
	float:left;
	padding:80px;
	margin-top:200px;
	margin-left:150px;
	color:rgb(199, 112, 71);
}
sidebar{
	border:solid;
	border-radius:150px;
	background-image:url("lapulapu.jpg");
	background-size:110%;
	color:rgb(146, 69, 6);
	margin-top:100px;
	margin-right:150px;
	margin-bottom:30px;
	width: 516px;
	padding:45px;
	float: right;
}
#kitchenTools{
	border:solid;
	border-radius:150px;
	background-color:rgb(179, 205, 228);
	color:rgb(146, 69, 6);
	clear:both;
	opacity:0.7;
	margin-left:150px;
	margin-right:150px;
	padding:45px;
}
#Instruction{
	border:solid;
	border-radius:150px;
	background-color:rgb(146, 69, 6);
	color:yellow;
	margin-left:150px;
	margin-right:150px;
	padding:45px;
}
footer{
	border:solid;
	border-radius:150px;
	background-color:blue;
	color:white;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:150px;
	margin-right:150px;
}
li{
	width:85%;
	height:80px;
	font-size:18pt;

}