body {
    background-image: url("../images/wall4_@2X.png");
    align-content:center;
    margin: auto;  
 }

#name {
    background-color:#4aaaa5;
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:15px;
    text-align:center;
    padding:auto;
    margin-top: -37px;
    height:auto;
    width:300px;
    float:left;
    position:fixed;
    left:391px;
    top:40px; 

    
    
}

#title {
    background-color:#ffffff;
    margin-top: -5px;
    margin-bottom: 70px;
    padding: 40px;
    height:3px;
    width:100%;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    position:fixed;
    top:0px;
}


#content {
    background-color:#ffffff;
    float:right;

    
    
}

#link1 {
    text-align:right;
    float:right;
    padding-left:50px;
    padding-right: 400px;
    border-left: solid;
    border-width:0.5px;
    font-size: 8pt;

}
#link2 {
    text-align:right;
    float:right;
    padding-left:50px;
    padding-right: 50px;
    border-left:solid;
    border-width:0.5px;
    font-size: 8pt;

}
#link3 {
    text-align:right;
    float:right;
    padding-left:50px;
    padding-right: 50px;
    font-size:8pt;
    /* border:solid; */
}

#entire {
    margin:auto;
    padding-top:100px;
    background-image: url("../images/wall4_@2X.png");
    /* border:solid; */
    clear:both;
    width:960px;
}

#sidebar {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding:7px;
    background-color:#ffffff;
    width:270px;
    float:right;
    text-align:center;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
}

#main {
    margin-bottom:230px;
    background-color:#ffffff;
    font-size:10pt;
    padding:7px 7px 10px 7px;
    width:650px;
    height:auto;
    float:left;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    overflow:auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:15px;
}
#Philippe {
    padding: 5px;
    float:left;
}
#paragraph{
    padding: 5px;
    float:right;
}

footer {
    background-color:#666666;
    clear:both;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 7pt;
    text-align:center;
    color:#ffffff;
    border-top:solid;
    border-top-color:#4aaaa5;
    border-top-width: 10px;
    height:40px;
    padding-top:20px;
    margin-top:670px;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;   

    
}

.head1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}
p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#7777;
}
a {
    font-family: 'Arial', Times, Times New Roman, serif;
    font-size: 10pt;
    color:#7777;
    text-decoration:none;
}
a:hover {
    color:blue;
}
.l {
    float:right;
    clear:both;
    margin-top:0px;
    /* border:solid; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;    
    padding: 10px;
    margin-left:100px;
    margin-bottom:10px;
}

.r {
    float:right;
    clear:both;
    margin-top:0px;
    /* border:solid; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;
    padding: 10px;
    margin-right:100px;
    margin-bottom:10px;
}
#left {
    float:left;
}
#right {
    float:right;
}

.pname {
    font-size:20pt;
}


@media only screen and (max-width:980px) {
/* For desktop: [taken from w3 schools]*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: [taken from w3schools]*/
    [class*="col-"] {
        width: 100%;
    }

@media only screen and (max-width: 640px) {
    /* For mobile phones: [taken from w3schools]*/
    [class*="col-"] {
        width: 100%;
    }