body {
    background-image: url("../images/wall4_@2X.png"); 
 }

#name {
    background-color:#4aaaa5;
    color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:20pt;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    margin-left: 300px;
    width:auto;
    height:50px;
    display:inline-block;
    

    
    
}

header {
    background-color:#ffffff;
    width: 100%;
    height: 70px;
}


#content {
    background-color:#ffffff;
    display:inline-block;
    margin-left: 750px;


    
    
}

#link1 {
    padding-right: 5px;
    text-align:right;
    display:inline-block;
    margin-right:5px;
    font-size: 18pt;


}
#link2 {
    padding-right: 5px;
    text-align:right;
    display:inline-block;
    margin-right:5px;
    font-size: 18pt;

}
#link3 {
    padding-right: 5px;
    text-align:right;
    display:inline-block;
    margin-right:5px;
    font-size: 18pt;
}
#link4 {
    padding-right: 5px;
    text-align:right;
    display:inline-block;
    margin-right:5px;
    font-size: 18pt;
}

#entire {
    background-image: url("../images/wall4_@2X.png");
}

sidebar {
    margin-right:300px;
    margin-top:50px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding:7px;
    background-color:#ffffff;
    width:270px;
    float:right;
    text-align:center;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    
}

main {
    margin-left:300px;
    margin-top:50px;
    background-color:#ffffff;
    font-size:10pt;
    padding:7px 7px 10px 7px;
    width:650px;
    height:auto;
    float:left;
    border: solid;
    border-width: 1px;
    border-color: #cccccc;
    overflow:auto;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size:15px;
}
#Philippe {
    padding: 5px;
    float:left;
}
#paragraph{
    padding: 5px;
    float:right;
}

footer {
    background-color:#666666;
    clear:both;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 7pt;
    text-align:center;
    color:#ffffff;
    border-top:solid;
    border-top-color:#4aaaa5;
    border-top-width: 10px;
    height:40px;
    padding-top:20px;
    margin-top:670px;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;   

    
}

.head1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}
p {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#7777;
}
a {
    font-family: 'Arial', Times, Times New Roman, serif;
    font-size: 10pt;
    color:#7777;
    text-decoration:none;
}
a:hover {
    color:blue;
}
.l {
    float:right;
    clear:both;
    margin-top:0px;
    /* border:solid; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;    
    padding: 10px;
    margin-left:100px;
    margin-bottom:10px;
}

.r {
    float:right;
    clear:both;
    margin-top:0px;
    /* border:solid; */
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color:#4aaaa5;
    color:#ffffff;
    text-align:center;
    padding: 10px;
    margin-right:100px;
    margin-bottom:10px;
}
#left {
    float:left;
}
#right {
    float:right;
}

.pname {
    font-size:20pt;
}
}
@media all and (max-width: 1690px) {

}

@media all and (max-width: 1280px) {

}
@media all and (max-width: 980px) {

}
@media all and (max-width: 736px) {

}
@media all and (max-width: 480px) {

}